* {
  margin: unset;
  padding: unset;
  font-family: monospace;
}

.active, h2:hover {
  background-color: #ccc; 
}

h2 {
  border: 1px dotted green;
  padding: 10px;
  margin-bottom: 1px;
  color: green;
  background-color: #eee;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

p {
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  color: blue;
  font-size: 22px;
}

p.example {
  margin-left: 15px;
  font-style: italic;
  font-weight: normal;
  white-space: pre-line;
  color: firebrick;
  margin-top: 0;
  font-size: 16px;
}

.item {
  padding: 0 18px;
  opacity: 0;
  height: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, height;
  will-change: opacity, contents;
}

.item p.example:last-child {
  margin-bottom: 15px;
}

button {
  width: 15px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

b {
  color: black;
  margin-left: 10px;
  font-size: 14px;
}