* {
  margin: unset;
  padding: unset;
  font-family: monospace;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6)
}
::-webkit-scrollbar {
  height: 0;
}

h2 {
  border: 1px dotted green;
  padding: 10px;
  margin-bottom: 1px;
  color: green;
  background-color: #eee;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

b {
  color: black;
  margin-left: 10px;
  font-size: 14px;
}

p {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
  color: blue;
  font-size: 20px;
  overflow: auto;
  white-space: nowrap;
  padding-right: 5px;
}

p.example {
  margin-left: 15px;
  font-style: italic;
  font-weight: normal;
  white-space: pre-line;
  color: firebrick;
  margin-top: 0;
  font-size: 16px;
}

.active, h2:hover {
  background-color: burlywood; 
}

.item {
  padding: 0 12px;
  opacity: 0;
  height: 0;
  background-color: white;
  overflow: hidden;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, height;
  will-change: opacity, contents;
}

.item p.example:last-child {
  margin-bottom: 15px;
}

button.showMeaning {
  width: 15px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  min-width: 15px;
}

.tab {
  background-color: antiquewhite;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  margin-bottom: 1px;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-right: 1px solid white;
  font-weight: bold;
  color: brown;
}

.tab button:last-child {
  border: none;
}

.tab button:hover {
  background-color: burlywood;
}

.tab button.active {
  background-color: burlywood;
}

.tabContent {
  display: none;
}
